@charset "utf-8";
/* ------ Fonts ------ */
@import url("fonts.css");
@import url('http://fonts.googleapis.com/css?family=Montserrat');
/* ------ Browser Resets ------ */
@import url("normalize.css");

html {
    font-size: 16px;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header {
    margin: 0 auto;
    background-color: #6693aa;
    border: solid 4px #6693aa;
}

body {
    padding: 5px;
    margin: 0px;
    background-color: rgb(248, 245, 245);
}

.wrapper {
    font-family: "Montserrat", "garamond", Arial, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
	/* text-align: center; */
}

img{
    max-width: 150px;
    max-height: auto;
}

.dicePreview{
	border: solid;
    background-color: #6693aa;
    border-radius: 5px;
    padding: 5px;
    max-width: 321px;
    max-height: auto;
}

#rollBtn, #resetBtn{
	border-radius: 5px;
    border: solid 2px black;
    background-color: #6693aa;
    color: black;
    font-weight: bold;
    padding: 5px;
}

#buttonSection button:hover{
    cursor: pointer;
}

#pop-up{
    position:fixed;
    top:0px;
    left:0px;    
    width:100vw;
    height:100vh;    
	z-index:1000;
	background-color: rgba(45, 66, 66, .8);    
    opacity: 0;
    display: none;
    text-align: center;
}

#pop-up div{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
	max-width:400px;
	min-width:300px;
	padding:10px;
	border-radius:10px;
	box-shadow: 0 0 0 2px #98b4cb,
		        0 0 0 4px #6693aa, 
				0 0 0 8px rgb(145, 197, 199);
	background-color:#6693aa;
	color:white;
}

#close-pop-up{
	background-color: white;
	color:#6693aa;
	border-radius: 50%;
	font-weight: bold;
	border:solid 3px rgb(145, 197, 199);
	cursor:pointer;
	position:absolute;
	top:-10px;
	right:-10px;
}

#close-pop-up:hover, 
#close-pop-up:focus, 
#close-pop-up:active{
	background-color: rgb(145, 232, 235);
	color:white;
	transform: scale(1.5);
}